/* ||General styles and grid layout for body */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
  --background-farbwerte: 244, 244, 255;
  --color-farbwerte: 25, 25, 112;
  --card-background-farbwerte: 255, 255, 255;
  --dark-background-farbwerte: 4, 4, 63;
  --dark-card-background-farbwerte: 47, 30, 43;
  --shadow-farbwerte: 6, 6, 6;
}

body {
  background-color: rgb(var(--background-farbwerte));
  color: rgb(var(--color-farbwerte));
  padding: 2rem;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1fr 0.25fr 0.25fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
}
.header {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.main {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
/*.........................................................................*/

/* Header styles */
.header {
  width: 50ch;
  margin-bottom: 3rem;
}
.heading {
  font-size: 4rem;
  text-transform: uppercase;
  border-left: 10px solid rgb(var(--color-farbwerte));
  padding-left: 100%;
  margin-bottom: 3rem;
  color: rgb(var(--color-farbwerte));
  direction: rtl;
}
/* ......................................................................... */

/* Card styles */
.card {
  width: 50ch;
  color: rgb(var(--color-farbwerte));
  background-color: rgb(var(--card-background-farbwerte));
  box-shadow: -30px 30px 100px 30px rgba(var(--shadow-farbwerte), 0.5);
  border-radius: 5px 5px 5px 5px;
  position: relative;
  transition: 2s;
  margin-bottom: 12rem;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.img-container {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.card-heading {
  padding-inline: 1rem;
}

.card-text {
  padding: 1rem;
}

.star {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  transition: 1s;
  filter: grayscale(1);
}

.card .star-transform:hover {
  filter: grayscale(0);
  transform: scale(1.5) rotate(-71deg);
}

.card:hover .img {
  transform: scale(1.2);
}

.card:hover {
  box-shadow: -30px 30px 100px 30px rgba(var(--color-farbwerte), 0.5);
}
/* ..................................................................... */

/* footer styles and grid layout for footer*/
.footer {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr;
  justify-content: space-between;
}

.footer-item {
  border-left: 3px solid rgb(var(--color-farbwerte));
  max-width: 25ch;
  padding-inline: 1rem;
  max-height: 20ch;
  max-width: 20ch;
  overflow: hidden;
}

.footer-icon {
  padding: 1rem;
}

/* Responsiveness and accessibility styles */
@media (prefers-color-scheme: dark) {
  body {
    background: rgba(var(--dark-background-farbwerte), 0.4);
  }
  .card {
    background-color: rgb(var(--color-farbwerte));
    color: rgba(var(--background-farbwerte), 0.7);
  }
}

@media screen and (min-width: 786px) {
  .header {
    width: 75ch;
  }
  .heading {
    max-width: 75ch;
  }
  .text {
    width: 65ch;
  }
}
/* .................................................................. */
